/* https://colorhunt.co/palette/0f0f0f232d3f005b41008170 */
/* roughly */

* {
  font-family: monospace;
}

body {
  color: white;
  background: #0F0F0F;
}

.cm-editor {
  border: 1px dashed #888;
}

.ͼ1 .cm-line {
  padding: 0 2px 0 10px;
}

.cm-syllableCounter {
  color: yellowgreen;
}

.ͼ1.cm-focused {
  outline: 0;
}

#word-count {
  padding-left: 5px;
  margin: 3px;
}

/*NAV BAR - START*/
.navbar ul {
  list-style-type: none;
  margin-bottom: 5px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border: 1px dashed #888;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  margin: 2px;
  padding: 5px;
  text-decoration: none;
}

.navbar .right {
  position: absolute;
  right: 10px;
}

.navbar li a:hover {
  background-color: #111;
}
/*NAV BAR - END*/