* {
  font-family: monospace;
}

body {
  background: black;
}

.cm-editor {
  border: 1px solid darkslategray;
}

.ͼ1 .cm-line {
  padding: 0 2px 0 10px;
}

.cm-syllableCounter {
  color: yellowgreen;
}

.ͼ1.cm-focused {
  outline: 0;
}

#word-count {
  padding-left: 5px;
  margin: 3px;
}

/*NAV BAR - START*/
ul {
  list-style-type: none;
  margin-bottom: 5px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  margin: 2px;
  padding: 5px;
  text-decoration: none;
}

.right {
  position: absolute;
  right: 10px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
/*NAV BAR - END*/